html, body {
    margin: 0; padding: 0; background-color: #ffffff; font-family: Tahoma, Sans-Serif;
    font-size: 10pt; overflow: auto;
}
#tableinfo { font-size: x-large; font-family: monospace; }

.vPosition  { font-weight: bold; background-color: #f5fff5; }
.plane_table_row { cursor: pointer; }

.pointer { cursor: pointer; }

